In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [3]:
gdp_df.shape

(7176, 4)

In [4]:
type(gdp_df)

pandas.core.frame.DataFrame

In [5]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2020  1970.560169              NaN
1     Afghanistan  2019  2065.036235              NaN
2     Afghanistan  2018  2033.804389              NaN
3     Afghanistan  2017  2058.400221              NaN
4     Afghanistan  2016  2057.067978              NaN

In [6]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [7]:
gdp_df = gdp_df.drop(columns = 'Value Footnotes')

In [8]:
gdp_df.reset_index

<bound method DataFrame.reset_index of      Country or Area  Year        Value
0        Afghanistan  2020  1970.560169
1        Afghanistan  2019  2065.036235
2        Afghanistan  2018  2033.804389
3        Afghanistan  2017  2058.400221
4        Afghanistan  2016  2057.067978
...              ...   ...          ...
7171        Zimbabwe  1994  2603.927369
7172        Zimbabwe  1993  2420.092791
7173        Zimbabwe  1992  2437.152908
7174        Zimbabwe  1991  2733.696626
7175        Zimbabwe  1990  2652.129209

[7176 rows x 3 columns]>

In [9]:
gdp_dif = gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2020     1970.560169
1  Afghanistan  2019     2065.036235
2  Afghanistan  2018     2033.804389
3  Afghanistan  2017     2058.400221
4  Afghanistan  2016     2057.067978

In [10]:
gdp_df = gdp_df.sort_values(by = 'GDP_Per_Capita')
gdp_df.head()

         Country  Year  GDP_Per_Capita
4544  Mozambique  1992      436.720371
4543  Mozambique  1993      464.018358
4541  Mozambique  1995      469.189504
4546  Mozambique  1990      471.325103
4542  Mozambique  1994      475.249723

In [11]:
gdp_df.isnull().values.any()

False

In [12]:
gdp_df

               Country  Year  GDP_Per_Capita
4544        Mozambique  1992      436.720371
4543        Mozambique  1993      464.018358
4541        Mozambique  1995      469.189504
4546        Mozambique  1990      471.325103
4542        Mozambique  1994      475.249723
...                ...   ...             ...
3915  Macao SAR, China  2018   132373.544079
3922  Macao SAR, China  2011   140321.907954
3921  Macao SAR, China  2012   149702.441471
3919  Macao SAR, China  2014   155201.740571
3920  Macao SAR, China  2013   161971.464661

[7176 rows x 3 columns]

In [13]:
gdp_df.Year.value_counts()

2015    242
2013    242
2014    242
2016    242
2017    242
2018    242
2019    241
2020    240
2011    240
2012    240
2010    239
2009    239
2008    238
2006    237
2007    237
2004    236
2005    236
2002    235
2003    235
2001    234
2000    233
1999    227
1997    226
1998    226
1996    222
1995    222
1994    211
1993    209
1992    208
1991    207
1990    206
Name: Year, dtype: int64

In [14]:
gdp_df = sns.load_dataset('iris')

In [15]:
plt.figure(figsize = (10, 6))                               # Increase the plot size to 10 x 6
sns.set(style="whitegrid")                                  # Change the plot style
sns.histplot(x = 'Country',
             y = 'GDP_Per_Capita',
            data = gdp_df, 
            palette = 'Set2')
plt.xlabel('')                                              # Remove the x-axis label
plt.ylabel('')                                              # Remove the y-axis label

ValueError: Could not interpret value `Country` for parameter `x`